[submodule "vim/pack/plugins/start/vim-autoformat"]
	path = vim/pack/plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim/pack/plugins/start/vim-autopep8"]
	path = vim/pack/plugins/start/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
